@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; /* 부드러운 스크롤 */
    max-width: 1920px;
    margin: auto;
}

/* 메인에 스크롤 스냅 기능 추가 */
main {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory; /* 세로 스크롤 스냅 */
    overflow-y: scroll; /* 세로 스크롤 가능 */
    height: 100vh;
}

/* 각 섹션의 높이가 화면에 꽉 차도록 설정 */
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    scroll-snap-align: start; /* 섹션의 시작 부분에 스냅 */
    width: 100%;
}

/* 배경색과 각 섹션의 기본 스타일 */
#TaeSan {
    background-color: lightblue;
    display: none;
}

#JeongSoo {
    background-color: lightgreen;
    display: none;
}

haeder h1 {
    display: none;
}

#MinSu {
    background-color: black;
}

#SeoYeon {
    background-color: lightgoldenrodyellow;
}

#TaeSans {
    background-color: lightgray;
}

/* 슬라이드 관련 스타일 */
#layout {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../images/minsu-bg.jpg) repeat;
    background-size: 100% 100%; 
}

/**********************header**************************/

#header {
    width: 20%;
    height: 5%;
    position: relative;
    position: absolute;
    top: 20%;
}

#carName {
    position: absolute;
    display: flex;
    width: 400%;
    height: 100%;
    top: 0;
    left: 0;
}

#carName h2 {
    width: 100%;
    font-size: 1.5rem;
    display: flex;            /* Flexbox 사용 */
    justify-content: center;  /* 가로 가운데 정렬 */
    align-items: flex-end;    /* 세로 아래 정렬 */
    color: lightgray;
    cursor: pointer;
    transition: all 2.5s;
    z-index: 1;
    /* border: 1px solid red; */
}

#carName .select {
    font-size: 2.5rem;
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/******************************slideArea***********************************/

#slideArea {
    position: absolute;
    width: 60%;    
}

#slide {
    display: flex;
    width: 400%;
}

.car {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 2.5s;
    width: 100%;
    /* border: 1px solid red; */
}

.car img {
    display: inline-block;
    
}

.car img:nth-of-type(1) {
    /* border: 1px solid red; */
    width: 100%;
}

.left_tier, .right_tier {
    position: absolute;
}

#AVANTE .left_tier {
    top: 54%;
    left: 16%;
    width: 12%;
}

#AVANTE .right_tier {
    top: 54.5%;
    right: 19.5%;
    width: 12%;
}

#IONIQ5 .left_tier {
    top: 52%;
    left: 14%;
    width: 14.5%;
}

#IONIQ5 .right_tier {
    top: 52%;
    right: 12%;
    width: 14.5%;
}

#SONATA .left_tier {
    top: 52%;
    left: 14.5%;
    width: 13.3%;
}

#SONATA .right_tier {
    top: 52%;
    right: 18.7%;
    width: 13.3%;
}

#TUCSAN .left_tier {
    top: 56%;
    left: 15.5%;
    width: 14%;
}

#TUCSAN .right_tier {
    top: 56%;
    right: 17.3%;
    width: 14%;
}


/* 슬라이드가 움직일 때 애니메이션을 적용 */
.clockwise_rotating {
    animation: clockwise-rotate-wheel 2.5s infinite;
}

.counterclockwise_rotating {
    animation: counterclockwise-rotate-wheel 2.5s infinite;
}

/* 바퀴 회전 애니메이션 */
@keyframes clockwise-rotate-wheel {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes counterclockwise-rotate-wheel {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

/******************************carPrice***********************************/
/* 아이오닉 7700만원 */
/* 아반떼 3360만원 */
/* 소나타 2831만원 */
/* 투싼 2771만원 */
#carPrice {
    position: absolute;
    top: 75%;
    width: 25%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carPrice> div:first-of-type {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#price {
    flex: 1;
    display: flex;
    height: 100%;
}

#price .roll-text {
    height: 100%;
    display: flex;
    align-items: center;
}

#rollingNumber {
    height: 100%;
    display: flex;
    margin-right: 3%;
    font-size: 45px;
    overflow: hidden;
}

#rollingNumber .roll-slide {
    display: flex;
    flex-direction: column-reverse;
    transition: transform 2.5s ease;
    animation: rolling 2.5s both;
}

#rollingNumber .roll-slide:nth-of-type(1) {
    transform: translateY(200%);
}

#rollingNumber .roll-slide:nth-of-type(3) {
    transform: translateY(1000%);
}

#rollingNumber .roll-slide:nth-of-type(4) {
    transform: translateY(1500%);
}

#rollingNumber .roll-slide:nth-of-type(5) {
    transform: translateY(2200%);
}

#rollingNumber .roll-num {
    height: 100%;
}

@keyframes rolling {
    to {transform: translateY(0);}
}


/******************************carInfo***********************************/

#footer {
    position: relative;
    position: absolute;
    top: 85%;
    width: 50%;
}

#footer .carInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: lightgray;
    font-size: 1.2rem;
    /* transition: all 2s; */
}

#footer .carInfo p {
    font-size: 2rem;
    color: white;
    /* font-weight: bold; */
}

#AVANTE_carInfo {
    position: absolute;
    top: 0;
    width: 100%;
}


#IONIQ5_carInfo {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
}

#SONATA_carInfo{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
}

#TUCSAN_carInfo{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
}





/* 배경화면을 도로로 해서 차가 도로위를 움직이는 것처럼 */
/* 차량 가격 롤링넘버 구현하기 */
/* 차 움직일 때 배경도 같이 움직일 수 있도록 재현 */




/*************************circle**************************/

#circle {
    position: absolute;
    bottom: 20px;
    display: flex;
}

#circle div {
    width: 100px;
    height: 2px;
    border-radius: 20%;
    background: white;
    margin: 5px;
}

#circle .red {
    background: red;
}

/* 화살표 스타일 */
#arrow {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button.material-symbols-outlined {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}



/*************************footer**************************/
footer {
    display: none;
}

/* 반응형 */
@media (max-width: 430px) {     /* 아이폰 14 pro max 기준 */
    #slideArea {
        width: 100%;        
    }
}

@media (max-width: 1024px) {     /* 아이패드 pro기준 */
    #slideArea {
        width: 100%;
    }
}
